<div class="container-fluid">
    <div class="row">
      <div class="col s12 m6 l6 image">
  
      </div>
      <div class="col s12 m6 l6 brief">
        <div class="fixed-action-btn">
            <a class="btn-floating btn-small red">
              <i class="large material-icons">close</i>
            </a>
        </div>
        <h4 style="font-weight: bolder; padding-bottom: 30px; color: #100540;">Legends are made!
        </h4>
        <div class="txtblock">
          <p>
              These are legendary players who all made great contributions to their teams and 
              became heroes for millions of fans world wide due to their achievements in the World Cup. 
              With their immense contributions,
              their praises are still been sung in their home countries. 
          </p>
          <p>
              The only player to win three World Cups, Pele has gone down as one of the most 
              decorated players in football. 
              Brazil have won the tournament 5 times since its inception. 
          </p>
          <p>
              Everybody wants to be a legend. Everybody wants to feel the spirit of the World Cup. 
              Those who can’t make it to the world cup scene as players or spectators still want some 
              way to connect to the tradition,
               before, during and after the tournament.
          </p>
  
        </div>
        <div class="row">
           <div class="col s10 offset-s1 m4 offset-m1 l6" style="padding-top:50px">
              <a class="btn waves-effect round waves-light yellow black-text" routerLink="/howto">
                  How To Play
              </a>
          </div>
        </div>
        
      </div>
    </div>
  </div>
    