<div class="container-fluid containerbg">
  <div class="row" style="padding-top:20px; padding-bottom: 20px">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card" style="border-radius: 10px">
            <div class="card-content">
                <div class="fixed-action-btn">
                    <a class="btn-floating btn-small red">
                      <i class="large material-icons">close</i>
                    </a>
                </div>
                <h3 style="color: #100540; padding-top: 200px">
                  The Rules of the Game.
                </h3>
                <p style="font-size: 12px; padding-top: 40px">
                    Become A Legend In 90 Secs is a World Cup trivia game, 
                    created to give you the chance to the become your own version of a World Cup legend. 
                </p>
                <div class="row">
                  <div class="col l6 offset-l3" style="padding-top: 20px; padding-bottom: 20px">
                      <div class="col s4">
                        <img src ="/assets/img/90-sec.jpg" class="icons"> 
                      </div>
                      <div class="col s4">
                        <img src ="/assets/img/rectangle.jpg" class="icons">
                      </div>
                      <div class="col s4">
                        <img src ="/assets/img/xi.jpg" class="icons">
                      </div>
                  </div>
                  
                    
                </div>
                <p style="font-size: 12px">
                    In 90 seconds, answer a variety of World Cup related questions, 
                    and you stand a chance to earn bragging rights, top the Wordl XI 
                    leaderboard, and win a consolation gift.
                    It is free to play, and only depends on how many times you can become a legend.
                </p>
                <p style="text-align: center; font-size:8px; padding-top: 70px">
                    TERMS & CONDITIONS APPLY
                </p>
            </div>
        </div>
    </div>
  </div>
</div>
