<div class="container-fluid centers">
  <div class="row center">
    <div class="col s12">
      <img src="../assets/img/logo.png" alt="Logo" width="292px" height="100px">
    </div>
    <div class="col s12" style="padding-top: 60px">
      <a class="btn waves-effect round waves-light yellow black-text" routerLink="tale">
        A TALE OF LEGENDS 
      </a>
    </div>
    <div class="col s12" style="padding-top: 20px">
        <a class="btn waves-effect round waves-light white black-text" routerLink="history">
          BECOME A LEGEND
        </a>
    </div> 
  </div>

</div>